/* Mensajes de error */
.error-text {
  color: #f87171;
  font-size: 13px;
  margin-bottom: 10px;
  display: block;
}

/* Link inferior */
.login-link {
  margin-top: 20px;
  text-align: center;
  color: #38bdf8;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #0ea5e9;
  text-decoration: underline;
}
